@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
:root {
    font-family: "Montserrat", sans-serif;
    background-color: #eee;
    color: #000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
    color: #fff;
}

#wrp,
.wrp {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    border: solid 2px;
    box-shadow: 15px 15px 0 0 #82ACFF;
    background-color: #fff;
    padding: 10px;
}
#brp,#qrp,#brp{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50;
    border: solid 2px;
    box-shadow: 15px 15px 0 0 #82ACFF;
    background-color: #fff;
    padding: 10px;
}

header {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image img {
    width: 50vw;
    margin-right: 4rem;
}

.header-image {
    flex-grow: 1;
    z-index: 2;
    margin-top: 4rem;
}

.header-content {
    color: #000;
    text-align: center;
    flex-grow: 1;
    z-index: 2;
}
.screenshot {
    margin: auto 5rem;
}
.header-content p {
    margin-top: 2rem;
}

.header-content h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
    margin-top: 20px;
}

.header-content h6 {
    font-size: 1.5rem;
    filter: brightness(0.7);
    margin: 0;
}

.header-content p,
.header-content a,
.header-content button {
    font-size: 1.5rem;
}

.header-content img {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 25%;
    margin-bottom: -2.5rem;
}

.header-content a {
    color: #fff;
}

button:hover {
    background-color: #000;
    color: #fff;
}

.header-content button {
    border: 1px solid;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 20px;
}

article#card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.about{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 8rem auto 4rem;
}
.description {
    flex-grow: 1;
}

.description li:nth-child(even) {
    margin-left: 2rem;
}

.description li:nth-child(odd) {
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.description ul {
    list-style-type: none;
}
.description h1 {
    font-size: 4rem;
}

.description p, .description li {
    font-size: 1.5rem;
}
article>section>h1 {
    font-family: Oswald;
    font-size: 42px;
    font-weight: 600;
}

footer{
    text-align: center;
}